{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello main controller!</h1>
    {% for vecteurHtml in sVecteur.getVecteursToString() %}
        {{ vecteurHtml|raw }}<br>
    {% endfor %}
    <br>
    {{ sVecteur.vecteursResultante|raw }}
</div>
{% endblock %}
