<!DOCTYPE html>
<html>
    <head>
        {# Métas #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Favicon #}
        <link rel="icon" type="image/png" href="{{ asset('build/images/fontawesome/atom-solid.svg') }}"/>

        {# Titre des pages #}
        <title>
            {% block title %}
                PHY144
            {% endblock %}
        </title>

        {# Les styles #}
        {% block stylesheets %}
            {# app.css contient les styles par défaults qui se chargeront sur toutes les pages #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# Tous le contenu du programme #}
        {% block body %}{% endblock %}

        {# Les scripts #}
        {% block javascripts %}
            {# app.js contient les scripts par défaults qui se chargeront sur toutes les pages #}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
